@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(252, 255, 222);
    color: rgb(0, 0, 47);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

header {
    background-color: rgb(1, 26, 75);
    padding: 2rem;
    text-align: center;
    color:white;
}

nav a {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(150, 150, 225);
    color: rgb(150, 150, 255);
}

#banner-kojima {
    background-image: url("Sem\ título.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;   /* ← ESSENCIAL */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-foto {
    background-color: rgb(1, 26, 75);
    padding: 1rem;
    width: fit-content;  
    border-radius: 8px;
    text-align: center;
    margin: 0;
    box-shadow: 0rem 0rem 4rem 0rem rgb(0, 85, 255);
}

.container-foto img {
    border-radius: 8px;
    display: block;
}

.legenda {
    color: white;
    margin-top: 0.5rem;
    font-weight: bold;
}

div h2 {
    background-color: rgb(0, 38, 114);
    width: fit-content;
    padding: 1.2rem;
    margin-left: auto;  
    margin-right: auto;
    margin-bottom: 1.2rem;
    margin-top: 0rem;
    border-radius: 15px;
    color: white;
}

.separador {
    background-color: rgb(0, 38, 114);
}

p, ul {
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

.item {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 1rem;
    color: rgb(0, 0, 25);
    padding: 1rem;
    box-shadow: 0.5rem 0.5rem 2rem 0rem rgba(94, 100, 36, 0.7);
}

a {
    color: rgb(0, 0, 25);
}

#obras {
    text-align: center;
    padding: 1rem;
}

.jogos-fileira {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.jogos-fileira img {
    height: 170px;
    border: 3px solid black;
    border-radius: 8px;
}

figcaption {
    text-align: center;
    text-decoration: underline;
    color: rgb(0, 85, 255)
}

figcaption:hover {
    color: rgb(4, 21, 56);
}

figcaption:active {
    color: rgb(150, 150, 255)
}

footer {
    background-color: rgb(255, 255, 255);
    box-shadow: 0rem -1rem 6rem 0rem rgba(94, 100, 36, 0.7);
    margin-top: 5rem;
    padding: 2rem;
    color: rgb(0, 0, 47);
    text-align: center;
}

form {
    text-align: center;
}

footer input[type="text"], footer input[type="email"] {
    background-color: rgb(220, 220, 220);
    border-radius: 8px;
    padding: 8px;
    margin: 0.2rem
}

textarea {
    outline: none;
    background-color: rgb(220, 220, 220);
    color: rgb(0, 0, 47);
    padding: 0.5rem;
    border: 3px solid rgb(0, 0, 47);
    border-radius: 8px;
}

button {
    outline: none;
    border-radius: 8px;
    padding: 0.3rem;
    border: 2px solid rgb(0, 0, 47);
    color: rgb(0, 0, 47);
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}

button:hover {
    background-color: rgb(108, 130, 174);
    color: rgb(0, 85, 255);
    border: 2px solid rgb(0, 0, 47);
}
